@model IEnumerable<Books.Core.Entities.Publisher>

@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
{
    <div class="float-end">
        <a asp-controller="Publishers" asp-area="" asp-action="Create" class="btn btn-outline-primary">Add publisher</a>
    </div>
}

<h2>Publishers</h2>
<hr />

<div class="container">
	<div class="row row-cols-3">
		@foreach(var publisher in Model)
		{
			<div class="col">
				<div class="card">
					<div class="card-body">
                        <a asp-action="FilteredList" asp-route-id="@publisher.Id" class="btn btn-light" >@publisher.Name</a>
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-warning">Edit</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>

