@model IEnumerable<Books.Core.Entities.Book>
@if (Model != null)
{
    <div class="container">
        <div class="row m-3">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.IconPath) alt="Card image cap">
                        <div class="card-body">
                            <h5><a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none">@item.Title</a></h5>
                            <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Remove from bookmark</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
