<style>
    .welcome {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
    .welcome-text {
        padding: 41vh 0;
        font-size: 50px;
        color: #fff;
    }
</style>
<div class="welcome">
    <div class="welcome-text text-center">Welcome to BookTeam website</div>
</div>

