@model IEnumerable<Books.Core.Entities.Genre>

@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
{
    <div class="container d-flex align-items-center justify-content-center">
        <a asp-controller="Genres" asp-area="" asp-action="Create" class="btn btn-success">Add genre</a>
    </div>
    <hr />
}
<div class="container">
	<div class="row mt-3">
		@foreach(var genre in Model)
		{
			<div class="col-3">
				<div class="card">
					<div class="card-body">
                        <a asp-action="FilteredList" asp-route-id="@genre.Id" class="btn btn-light" >@genre.GenreName</a>
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-warning">Edit</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>

