@model IEnumerable<Books.Core.Entities.Author>

@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
{
    <div class="float-end">
        <a asp-controller="Authors" asp-area="" asp-action="Create" class="btn btn-outline-primary">Add author</a>
    </div>
}

<h2>Authors</h2>
<hr />

<div class="container">
	<div class="row mt-3">
		@foreach(var author in Model)
		{
			<div class="col-3">
				<div class="card">
					<div class="card-body">
                        <a asp-action="FilteredList" asp-route-id="@author.Id" class="btn btn-light" >@author.Name</a>
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@author.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-warning">Edit</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>

